<div class="card-header d-flex justify-content-between">
  <span>
  <%= @mycelium.name %> Petri Dishes
  </span>
  <%= link_to 'Add Petri Dish', new_mycelium_petri_run_path(params[:mycelium_id]), class: 'btn btn-info btn-sm' %>
  <%= link_to 'Back', @mycelium, class: 'btn btn-info btn-sm' %>
</div>


  <ul class='list-group'>
    <% @petri_runs.each do |petri_run| %>
      <li class='list-group-item'>
        Strain: <%= link_to petri_run.strain, [petri_run.mycelium, petri_run] %>
      </li>
    <% end %>
  </ul>
